.DS_Store
/node_modules/
**/node_modules/
/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/apps/web/__sapper__/
/static/files
.nyc_output/
cypress-coverage/
jest-coverage/
cypress/videos
.venv/
/course_editor/db.sqlite3
*.pyc
.env
/db.sqlite3
/src/audios_to_fetch.csv
localData/
staticfiles/
git_stats/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jsLinters/eslint.xml
/.idea/LibreLingo.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/workspace.xml
apps/web/static/files/noto-*
apps/web/cypress/screenshots/**/__tkey-*.png
.vim
apps/librelingo_tools/dist
**/dist/
*.tsbuildinfo
