asgiref==3.2.5
Click==7.1.1
dj-database-url==0.5.0
Django==3.0.4
django-3-jet==1.0.8
django-admin-sortable2==0.7.6
django-inline-actions==2.3.0
django-reversion==3.0.7
django-subadmin==2.0.0
future==0.18.2
gunicorn==20.0.4
Jinja2==2.11.1
livereload==2.6.1
lunr==0.5.6
Markdown==3.2.1
MarkupSafe==1.1.1
mkdocs==1.1
nltk==3.4.5
psycopg2-binary==2.8.4
python-dotenv==0.12.0
pytz==2019.3
PyYAML==5.3.1
six==1.14.0
sqlparse==0.3.1
tornado==6.0.4
whitenoise==5.0.1
