@charset "utf-8";
@import "~bulmaswatch/lumen/variables.scss";
@import "~bulmaswatch/lumen/variables.scss";
@import "./custom_variables";

@import "~bulma/sass/utilities/_all.sass";

// Don't remove commented out code here: they are disabled bulma modules

@import "~bulma/sass/base/minireset.sass";
//@import "~bulma/sass/form/file.sass";
@import "~bulma/sass/form/shared.sass";
@import "~bulma/sass/form/input-textarea.sass";
@import "~bulma/sass/form/all.sass";
//@import "~bulma/sass/form/select.sass";
//@import "~bulma/sass/form/checkbox-radio.sass";
//@import "~bulma/sass/form/tools.sass";
//@import "~bulma/sass/grid/tiles.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/elements/progress.sass";
//@import "~bulma/sass/elements/other.sass";
//@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/image.sass";
// @import "~bulma/sass/elements/button.sass";
// @import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/box.sass";
//@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/layout/footer.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/base/generic.sass";
@import "~bulma/sass/helpers/_all.sass";
//@import "~bulma/sass/components/pagination.sass";
//@import "~bulma/sass/components/level.sass";
//@import "~bulma/sass/components/message.sass";
//@import "~bulma/sass/components/modal.sass";
// @import "~bulma/sass/components/navbar.sass";
// @import "~bulma/sass/components/panel.sass";
//@import "~bulma/sass/components/list.sass";
//@import "~bulma/sass/components/breadcrumb.sass";
//@import "~bulma/sass/components/menu.sass";
//@import "~bulma/sass/components/tabs.sass";
//@import "~bulma/sass/components/dropdown.sass";
@import "~bulma/sass/components/card.sass";
@import "~bulma/sass/components/media.sass";

@import "~bulma-pageloader";
@import "~bulma-tooltip";

.footer {
    margin-top: 12em;
}

.md-page a {
    text-decoration: underline;
}

@import "~bulmaswatch/lumen/overrides.scss";

:root {
    --spacing-small: 8px;
    --spacing-medium: 12px;
    --spacing-large: calc(var(--spacing-small) + var(--spacing-medium));
    --blue: #325f74;
    --white: #faf4f0;

    --animation-short: .1s;

    /* primary button stuff */
    --button-primary-background-color: #325f74;
    --button-primary-text-color: #fff;
    --button-primary-border: transparent;
    /* secondary button stuff */
    --button-secondary-background-color: #f5f5f5;
    --button-secondary-text-color: #111;
    --button-secondary-border: #b5b5b5;
    /* virtual keyboard button stuff */
    --button-key-background-color: #f5f5f5;
    --button-key-text-color: #111;
    --button-key-border: #b5b5b5;
    /* generic button stuff */
    --button-radius-small: calc(var(--spacing-small) / 2);

    --navbar-background: var(--blue);
    --navbar-text-color: var(--white);
    --navbar-highlight-color: rgba(255, 255, 255, .1);
    --navbar-height: 52px;
    --navbar-padding-vertical: var(--spacing-small);
    --navbar-padding-horizontal: var(--spacing-medium);
    --navbar-logo-height: calc(var(--navbar-height) - 2 * var(--spacing-small));

    --panel-background: white;
    --panel-background-success: #84b83f;
    --panel-background-failure: #ab2149;
    --panel-background-info: #fcb141;
}
