{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div><a href="{{ course.repository_url }}">Repository</a></div>
    <div class="content">
       License: {{ course.license.name }}: <a href="{{ course.license.link }}">{{ course.license.full_name }}</a>
    </div>
    <div class="content">
      <table class="table">
        <thead>
          <tr><th></th>        <th>{{ count.target_language_name }}</th> <th>{{ count.source_language_name }}</th></tr>
        </thead>
        <tbody>
          <tr><th>Words</th>   <td>{{ count.target_words }}</td>         <td>{{ count.source_words }}</td></tr>
          <tr><th>Phrases</th> <td>{{ count.target_phrases }}</td>       <td>{{ count.source_phrases }}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="content">
      <ul>
        <li>In the <a href="converter.html">converter</a> you will be able to see the translation of each word you type in.
            We don't try to understand the context or the full expression. It is still your job to decide which meaning of a word is relevant in the specific context.
        </li>
        <li>
          You can see the list of all the words we currently have in <a href="target.html">{{ course.target_language.name }}</a> and in <a href="source.html">{{ course.source_language.name }}</a>.
        </li>
      </ul>
    </div>

{% include 'incl/footer.html' %}
