{% include 'incl/header.html' %}

<h1 class="title">Missing Words</h1>

<div class="content">
   List all the words in the source language ({{ course.source_language_name }}) from all the courses with the same source language and mark which are
   <span class="has-background-danger-light">missing</span> or
   which we <span class="has-background-warning-light">have but the other courses don't</a>.
   <span class="has-background-success-light"></span>

   <div>Total number of words: <span id="total_words"></span></div>
   <div>Number of words we have: <span id="our_words"></span></div>
   <div id="output">
   </div>
</div>

<script>
$(document).ready(function(){
    //var source_to_target = null;
    var this_source_to_target = null;
    var source_words = {};
    var loaded = 0;
    var need_to_load = 0;
    var courses = null;

    var try_to_show = function() {
        if (need_to_load > 0) {
            return;
        }
        //console.log('show words');
        //console.log(this_course_data);
        var words = {};
        const keys = Object.keys(source_words);
        keys.forEach((course_dir, index) => {
            const wkeys = Object.keys(source_words[course_dir]);
            wkeys.forEach((word, index) => {
                if (!(word in words)) {
                    words[word] = 0;
                }
                words[word]++;
            });
        });
        //console.log(words);
        var words_array = [];
        Object.keys(words).forEach((word, index) => {
            words_array.push(word);
        });
        words_array.sort();

        var count_our_words = 0;
        var html = "<table>";
        html += "<tr><th>word</th><th>count</th></tr>";
        for (var ix=0; ix < words_array.length; ix++) {
            var word = words_array[ix];
            var css_class = "has-background-danger-light";
            if (word in this_source_to_target) {
                count_our_words++;
                css_class = "has-background-success-light";
                if (words[word] == 1) {
                    css_class = "has-background-warning-light";
                }
            }
            html += `<tr class="${css_class}"><td>${word}</td><td>${words[word]}</td></tr>`;
        }
        html += "</table>";
        $("#output").html(html);
        $("#total_words").html(words_array.length);
        $("#our_words").html(count_our_words);
    }

    var try_to_load = function() {
        if (loaded < 3) {
            return;
        }
        //console.log('this:', this_course['source_language_code']);
        //console.log(courses)
        const keys = Object.keys(courses);
        // how many languages are we going to load?
        keys.forEach((course_dir, index) => {
            if (this_course['source_language_code'] == courses[course_dir]['source_language_code']) {
                need_to_load++;
            }
        });

        keys.forEach((course_dir, index) => {
            //console.log(`${course_dir}`);
            //console.log(courses[course_dir]['source_language_code']);
            if (this_course['source_language_code'] == courses[course_dir]['source_language_code']) {
                $.getJSON(`../${course_dir}/source-to-target.json`, function(data){
                    source_words[course_dir] = data;
                    need_to_load--;
                    try_to_show();
                }).fail(function(){
                    console.log("An error has occurred.");
                });
            }
        });
    };
    const show_words = function() {
        console.log('show_words');
    }

    $.getJSON("../courses.json", function(data){
        courses = data;
        loaded++;
        try_to_load();
    }).fail(function(){
        console.log("An error has occurred.");
    });

    $.getJSON("course.json", function(data){
        this_course = data;
        loaded++;
        try_to_load();
    }).fail(function(){
        console.log("An error has occurred.");
    });

    $.getJSON("source-to-target.json", function(data){
        this_source_to_target = data;
        loaded++;
        try_to_load();
    }).fail(function(){
        console.log("An error has occurred.");
    });
});
</script>

{% include 'incl/footer.html' %}
