{% include 'incl/header.html' %}

    <h1>{{ title }}</h1>

    <h2>Modules</h2>
    <ul>
      {% for module in course.modules %}
        <li>{{ module.title }}
          <ul>
            {% for skill in module.skills %}
              <!-- <li><a href="{{ repository_url }}/blob/{{ branch }}/{{ rel_dir }}/{{ skill.filename }}">{{ skill.name }}</a></li> -->
              <li><a href="course/{{ module.filename }}/skills/{{ skill.filename | skillfile }}.html">{{ skill.name }}</a></li>
            {% endfor %}
          </ul>
        </li>

      {% endfor %}
    </ul>


{% include 'incl/footer.html' %}
