{% include 'incl/header.html' %}

  <h1 class="title">{{ title }} - Modules</h1>
  <div class="content">
    <ul>
      {% for module in course.modules %}
        <li>{{ module.title }}
          <ul>
            {% for skill in module.skills %}
              <li>
                 <a href="course/{{ module.filename }}/skills/{{ skill.filename | skillfile }}.html">{{ skill.name }}</a>
                 (<a href="{{ repository_url }}/blob/{{ branch }}/{{ rel_dir }}/{{ skill.filename }}"><span class="icon fa-github"></span></a>)
              </li>
            {% endfor %}
          </ul>
        </li>

      {% endfor %}
    </ul>
  </div>


{% include 'incl/footer.html' %}
