// Set your brand colors
$blue: #325f74;
$pink: #ab2149;
$green: #84b83f;
$yellow: #fcb141;
$white-light: #bfb5af;
$white-lighter: adjust-color($white-light, $lightness: +20%);

// Update Bulma's global variables
$grey-dark: $blue;
$grey-light: $white-light;
$primary: $blue;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;
$family-sans-serif: "Noto Sans", sans-serif;
$family-primary: $family-sans-serif;
$family-secondary: $family-sans-serif;
$family-monospace: monospace;

// Update some of Bulma's component variables
$body-background-color: $white-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$done-color: lighten(desaturate($green, 15%), 20%);
$stale-color: lighten(desaturate($green, 45%), 20%);

$bulmaswatch-import-font: false;
