{% include 'incl/header.html' %}

    <h1>{{ title }}</h1>
    <div><a href="{{ course.repository_url }}">Repository</a></div>
    <div>License: {{ course.license.name }}: <a href="{{ course.license.link }}">{{ course.license.full_name }}</a></div>
    <div>Total number of words: {{ count.target_words }}</div>
    <div>Number of phrases: {{ count.target_phrases }}</div>

    <div>
    <a href="target.html">words in {{ course.target_language.name }}</a>
    </div>
    <div>
    <a href="modules.html">modules</a>
    </div>

{% include 'incl/footer.html' %}
