<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://use.fontawesome.com/57525b30bb.js"></script>
  </head>
  <body>
    <section class="section">
      <div class="container">
    <div class="tabs">
      <ul>
        <li {% if page == "index" %}class="is-active"{% endif %}><a href="{{ rel }}index.html">home</a></li>
        <li {% if page == "converter" %}class="is-active"{% endif %}><a href="{{ rel }}converter.html">converter</a></li>
        <li {% if page == "words" %}class="is-active"{% endif %}><a href="{{ rel }}words.html">words</a></li>
        <li {% if page == "modules" %}class="is-active"{% endif %}><a href="{{ rel }}modules.html">modules</a></li>
        <li {% if page == "target" %}class="is-active"{% endif %}><a href="{{ rel }}target.html">{{ course.target_language.name }}</a></li>
        <li {% if page == "source" %}class="is-active"{% endif %}><a href="{{ rel }}source.html">{{ course.source_language.name }}</a></li>
      </ul>
    </div>

