{% include 'central/header.html' %}

<table>
  <tr><th>Date</th><th>ladino-from-english</th></tr>
  {% for event in history %}
    {% if event.courses["ladino-from-english"] %}
       <tr><td>{{event.date}}</td><td>{{event.courses["ladino-from-english"].source_phrases}} / {{event.courses["ladino-from-english"].source_words}} to {{event.courses["ladino-from-english"].target_phrases}} / {{event.courses["ladino-from-english"].target_words}}</td></tr>
    {% endif %}
  {% endfor %}
</table>

{% include 'central/footer.html' %}

